.TableHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 10px 20px;
  color: #7e96c2;
  background-color: #e1eefa;
  border-radius: 10px;
}

.TableHeadRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TableHeader {
  max-width: 140px;
  height: auto;
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  text-align: start;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .TableHeader {
    font-size: 0.95rem;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .TableHeader {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) and (min-width: 550px) {
  .TableHead {
    padding: 10px;
  }

  .TableHeader {
    font-size: 0.825rem;
  }
}

@media (max-width: 549px) and (min-width: 440px) {
  .TableHead {
    padding: 10px;
  }

  .TableHeader {
    font-size: 0.8rem;
  }
}

@media (max-width: 439px) and (min-width: 320px) {
  .TableHead {
    padding: 5px;
  }

  .TableHeader {
    font-size: 0.68rem;
  }
}
